table {
    table-layout : fixed;
    background: lightblue;
    width: 100%;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

input[type="text"]{
    background-color : lightgreen;
}

.key {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width: 50;
    word-wrap: break-word;
}

.nooverflow !important{
    overflow: scroll;
    word-wrap:break-all;
}
